*{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    border: red dashed 5px;
    margin: 30px 0;
    text-align: center;
    padding: 30px;
}

#cifrao{
    color: green;
}

footer{
    background-color: #555555;
    color: white;
    padding: 20px;
}

.produto-item{
    color: #b60808;
    font-weight: bold;
}